<configuration>

  <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <!-- timestamp  thread  level  logger(short)  message -->
      <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %-25logger{25} %msg%n</pattern>
    </encoder>
  </appender>

  <!-- Reduce gRPC internal noise -->
  <logger name="io.grpc"      level="WARN"/>
  <logger name="io.netty"     level="WARN"/>
  <logger name="io.javalin"   level="INFO"/>

  <root level="INFO">
    <appender-ref ref="CONSOLE"/>
  </root>

</configuration>